

.agraPetha {
  background-color: #D3D3D3;
  }

h1 {
  font-family: 'Playfair Display', serif;
  font-style: semibold;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 36px;
  line-height: 38px;
  color: black;
  letter-spacing: 1.5px;
}

p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 112px;
  padding-right: 112px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

#samosa {
  background-color: #C62828;
  color: #ffffff;
  padding: 8px 32px;
  border-radius: 60px;
  text-decoration: none;
  display: inline;
  text-align: center;
  margin-bottom: 32px;
}

.mirch {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.namak {
  margin-top: 32px;
  margin-bottom: 64px;
}

.kajuKatli {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cherry{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: left;
padding-left: 110px;
padding-bottom: 60px;
font-size: 32px;
padding-top: 33px;
}


#berry {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 400;
}

.kachori{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rasgula{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chenaPoda{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  padding-top: 150px;
  padding-left: 50px;
}

.imgJi{
  padding-left: 500px;
  padding-top: 70px;
  padding-bottom: 70px;
}


#jalebi{
  background-color: #C62828;
  color: #ffffff;
  padding: 8px 32px;
  border-radius: 60px;
  text-decoration: none;
  }

  #imarti{
    background-color: #ffffff ;
    color: #C62828 ;
    padding: 8px 32px;
    border-radius: 60px;
    border:3px solid #C62828;
    box-sizing: border-box;
    text-decoration: none;
  }
